.speed {
  padding: 138px 0;
}

.speed-wrapper {
  max-width: 563px;
  width: 100%;
}

.speed-text {
  margin-bottom: 55px;
}

.speed-img {
  position: absolute;
  top: -200px;
  right: -140px;
  z-index: -1;
}

.speed-form {
  input {
    display: inline-block;
    width: 35%;
    height: 50px;
    border: none;
    outline: none;
    background: #eeeeee;
    padding: 0 20px;
    &:first-child {
      border-radius: 50px 0 0 50px;
    }
    &:nth-child(2) {
      border-radius: 0 50px 50px 0;
      border-left: 2px solid #cccccc;
      margin: 0 30px 0 -4px;
    }
  }
}
